* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.sale-label {
  text-transform: uppercase;
  padding: 7px 15px;
  position: absolute;
  top: -18px;
  left: -50px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;

  display: inline-block; /*!!*/
}

.price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.shipping-info {
  color: #696969;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 10px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.colors-picker {
  margin: 10px 0;
  margin-bottom: 20px;
}

/* .colors-picker .color-variant {
  display: inline-block;
} */

.color-variant {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  display: inline-block;
}

.color-variant:nth-of-type(1) {
  background-color: black;
}

.color-variant:nth-of-type(2) {
  background-color: blue;
}

.color-variant:nth-of-type(3) {
  background-color: red;
}

.color-variant:nth-of-type(4) {
  background-color: orange;
}

.color-variant:nth-of-type(5) {
  background-color: green;
}

.color-variant:nth-of-type(6) {
  background-color: brown;
}

/* Alternatively */

/* .color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-orange {
  background-color: orange;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
} */

.details-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.details-list {
  list-style-type: square;
  margin-bottom: 20px;
  margin-left: 20px;
}

.details-list li {
  font-size: 16px;
  margin-bottom: 10px;
}
.details-list li:last-child {
  margin-bottom: 0px;
}

button {
  font-size: 20px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  border-top: 5px solid black;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
}
